<div class="view-patient">




    <div class="flex-container">
        <div class="left">


            <a class='exit' (click)="myPatients()">✖️</a>


            <p class="header">Patient name</p>
            <p class="value">{{name}}</p>

            <p class="header">Patient Id</p>
            <p class="value">{{patientId}}</p>

            <p class="header">Attending Dentist</p>
            <p class="value">{{attendingDentist}}</p>

            <p class="header">Age</p>
            <p class="value">{{age}}</p>

            <p class="header">Phone</p>
            <p class="value">{{phone}}</p>

            <p class="header">Implant Type</p>
            <p class="value">{{implant}}</p>

            <p class="header">Number Of Implants</p>
            <p class="value">{{numOfImplants}}</p>

            <p class="header">Last visit date</p>
            <p class="value">{{lastVisitDate}}</p>

        </div>


        <div class="right">
            <p class="header">Implant X-ray Image</p>
            <img class="imgbox" src="assets/images/abc.jpg ">

            <p class="header">Diagnosis</p>
            <p class="value feedback">{{feedback}}</p>
            <p class="header">Diabetes</p>
            <p class="value">{{diabetes}}</p>

            <p class="header">Hypertension</p>
            <p class="value">{{hypertension}}</p>

            <p class="header">Allergy</p>
            <p class="value">{{allergy}}</p>

            <p class="header">Gender</p>
            <p class="value">{{gender}}</p>

        </div>
    </div>

</div>