<app-navbar></app-navbar>
<!-- ------------------------------------------------Home------------------------------------------------ -->

<div class="hero" id="home">

    <div class="text">
        <h2 class="first">
            Eliminating the guesswork
        </h2>
        <h1>IMPLANT<span class="ai">MIND</span></h1>
        <h2 class="secound">
            Your go-to tool for dental implant identification!
        </h2>
        <a (click)="xrayRouter()" class="try-now">Get Started</a>
    </div>

</div>

<!-- ------------------------------------------------About us------------------------------------------------ -->


<div class="about" id="about">
    <div class="section">
        <div class="words">
            Implant Mind is a tool that uses deep learning algorithms to identify the brand of a dental implant from a
            patient's X-ray image, immediate and in just few seconds.<br><br>
            With the power of Artificial Intelligence and other technologies it will help dentists and oral surgeons to
            save time, money, and avoid potential mistakes during the implant identification process.<br>
            <button (click)="xrayRouter()">Try it now !</button><br>
        </div>
        <div class="img1 animated"></div>
    </div>

    <div class="section reverse">
        <div class="words">
            Make it easy and Store your patients data like Implant Type , Diagnoses and more,
            we use One and linked database to register the patient data with a unique id to finally get rid of the
            problem of unidentified implants.
            <button (click)="signUpRouter()">SignUp now and start </button>
        </div>
        <div class="img2"></div>
    </div>
</div>

<!-- -----------------------------------supported implants-------------------------------------------------- -->
<div class="supported-imp" id="Supported-implants">
    <h1 class="headline">Supported Implants</h1>

    <div class="cards">

        <div class="card roott">
            <div class="imp-image"></div>

            <h1 class="prand-name">ROOTT</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>10° cone & internal hex </li>
                <li>Secure connection</li>
                <li>No microgap / no micromovement </li>
                <li>V-shape design Efficient insertion</li>
                <li>RBM blasted, acid etched surface Optimum adhesion </li>
                <li>Variable threads Bone condensation </li>
                <li>Multiple possibilities</li>
            </ul>

            <a class="website" href="https://roottimplants.co.uk/" target="_blank">Visit Official Website </a>

        </div>

        <div class="card dentium">
            <div class="imp-image"></div>

            <h1 class="prand-name">DENTIUM</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>Material: CP Titanium </li>
                <li>Level: Bone Level</li>
                <li>Connection Type: Internal </li>
                <li>Connection Shape: Hexagon</li>
                <li>Head Shape: Flared </li>
                <li>Head Microthreads: Yes</li>
                <li>Body Threads: Buttress</li>
                <li>Apex Shape: Flat</li>
                <li>Apex Hole: No Hole</li>
                <li> Apex Grooves: Yes</li>
            </ul>

            <a class="website" href="https://www.dentiumusa.com/" target="_blank">Visit Official Website </a>

        </div>

        <div class="card fortis">
            <div class="imp-image"></div>

            <h1 class="prand-name">FORTIS</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>Self-drilling, self-tapping screw-type implant</li>
                <li>TiUnite surface treatment for Osseointegration</li>
                <li>Thread design for high primary stability and bone growth</li>
                <li>Conical Seal Design for strong connection between implant and abutment</li>
                <li>Available in various diameters and lengths to suit patient needs. </li>
            </ul>

            <a class="website" href="https://www.ritterimplants.com/fortis-implant" target="_blank">Visit Official
                Website </a>

        </div>

        <div class="card nucleoss">
            <div class="imp-image"></div>

            <h1 class="prand-name">NucleOSS</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>Material: CP Titanium</li>
                <li>Level: Bone Level</li>
                <li> Connection Type: Internal</li>
                <li>Connection Shape: Hexagon</li>
                <li>Head Shape: Straight</li>
                <li>Head Microthreads: No </li>
                <li>Body Shape: Tapered</li>
                <li>Body Threads: Reverse Buttress</li>
                <li>Apex Shape: Dome</li>
                <li>Apex Hole: No Hole</li>
                <li>Apex Grooves: No</li>
            </ul>

            <a class="website" href="https://nucleoss.com/" target="_blank">Visit Official Website </a>

        </div>

        <div class="card shtrumann">
            <div class="imp-image"></div>

            <h1 class="prand-name">STRAUMANN</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>Level: Tissue Level</li>
                <li>Connection Type: Internal</li>
                <li>Connection Shape: No Anti-rotational</li>
                <li>Head Shape: Flared</li>
                <li>Head Microthreads: No</li>
                <li>Body Shape: Straight</li>
                <li>Body Threads: Reverse Buttress</li>
                <li>Apex Shape: Dome</li>
                <li>Apex Hole: No Hole</li>
                <li>Apex Grooves: No</li>
            </ul>

            <a class="website"
                href="https://www.straumann.com/en/dental-professionals/products-and-solutions/dental-implants.html"
                target="_blank">Visit Official Website </a>

        </div>

        <div class="card zimmer">
            <div class="imp-image"></div>

            <h1 class="prand-name">ZIMMER</h1>

            <ul class="features">
                <li>Implant Features</li>
                <li>Level: Bone Level</li>
                <li>Connection Type: Internal</li>
                <li>Connection Shape: Hexagon</li>
                <li>Head Shape: Straight</li>
                <li>Head Microthreads: No </li>
                <li>Body Shape: Tapered</li>
                <li>Body Threads: V Shaped</li>
                <li>Apex Shape: Dome</li>
                <li>Apex Hole: Oblong</li>
                <li>Apex Grooves: No</li>
            </ul>

            <a class="website" href="https://www.zimmerbiomet.com/en" target="_blank">Visit Official Website </a>

        </div>

    </div>

</div>


<!-- ------------------------------------footer----------------------------- -->

<div class="footer">
    <div class="rateus">
        <h1>Tell Us Your Opinion</h1>
        <a (click)="rateUsRouter()">Rate Us</a>
    </div>
    <div class="rateus">
        <h1>Provide Us with data</h1>
        <a (click)="supportUsRouter()">Support Us</a>
    </div>
    <div class="follow-us">
        <h1>Follow Us</h1>
        <div class="all-social">
            <a class="social facebook"></a>
            <a class="social linkedin"></a>
            <a class="social twiter"></a>
        </div>
    </div>
    <p class="copy-write">Implant Mind ©️ 2023, All Rights Reserved.</p>
</div>